<a href="/books">Voltar</a>
<br>
<h1>Editar HQ</h1>
<form action="/books/edit" method="POST">
    <input type="hidden" name="id" value="{{book._id}}">
    <div class="form-control">
        <label for="name">Nome:</label>
        <input type="text" name="name" placeholder="Digite o Nome da HQ" value="{{book.name}}">
    </div>
    <div class="form-control">
        <label for="publisher">Editora:</label>
        <input type="text" name="publisher" placeholder="Digite a Editora da HQ" value="{{book.publisher}}">
    </div>
    <div class="form-control">
        <label for="image">Imagem:</label>
        <input type="text" name="image" placeholder="Insira a URL da Imagem" value="{{book.image}}">
    </div>
    <div class="form-control">
        <label for="price">Preço:</label>
        <input type="text" name="price" placeholder="Digite o Preço da HQ" value="{{book.price}}">
    </div>
    <div class="form-control">
        <label for="description">Descrição:</label>
        <textarea name="description" placeholder="Informe a Descrição da HQ">{{book.description}}</textarea>
    </div>
    <input type="submit" value="Editar" class="btn">
</form>